@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "circular", sans-serif;
  }
header{
    position: relative;
    min-height:100vh;
    background: #000;
    display:flex;
    justify-content: center;
    align-items: center;
}
header h2 {
    color: #fff;
    font-size:15em;
    cursor: default;
}

.Thelight{
    position: relative;
    min-height:25vh;
    background: #000;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Thelight-title h2{
    color: #fff;
    font-size:5em;
    cursor: default;
}
/*
.light{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #f;
}
header{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom,rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(https://i.pinimg.com/564x/25/38/26/25382623db54456f01707898b9f594c3.jpg);
    background-size:cover;
    color:white;
}*/

.about2{
    height:300vh;
    display:flex;
}
.about2-title{
    width:50%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    margin:0!important;
}
.about2-pages{
    width:50%;
}
.about2-pages div{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about2-pages div> p{
    width:80%;
    font-size: 18px;
    line-height: px;

}
.about2-pages div:nth-child(1){
    background-color: rgb(56,134,89);
}
.about2-pages div:nth-child(2){
    background-color: rgb(129,42,110);
}
.about2-pages div:nth-child(3){
    background-color: rgb(31,88,107);
}